### ðŸŽˆ Pandas
<hr/>

In [1]:
import pandas as pd

In [3]:
ice_cream = ['Choco', 'Vanila', 'Rum raisin']

In [4]:
pd.Series(ice_cream)

0         Choco
1        Vanila
2    Rum raisin
dtype: object

In [5]:
states = {'Tx': "texas", 'Ar':'Arkashan'}

In [6]:
pd.Series(states)

Tx       texas
Ar    Arkashan
dtype: object

In [13]:
mix = [1, 2, 3]

In [14]:
mix = pd.Series(mix)

In [15]:
mix.dtype

dtype('int64')

In [34]:
pokemons = pd.read_csv("C:\\root\\UpGradDS\\data_science\\python\\numpy_pandas\\pokemon.csv", usecols=['Pokemon'], squeeze=True)

In [25]:
type(pokemons)

pandas.core.series.Series

In [27]:
pokemons

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

https://drive.google.com/file/d/1VCNuAAEVzJ9zjUM7a8cv6djhsSOE8X6B/view

In [3]:
nba =   pd.read_csv("nba.csv")

In [4]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [6]:
nba_series = nba.squeeze()

In [9]:
nba_series.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [11]:
type(nba_series)

pandas.core.frame.DataFrame

In [12]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [5]:
type(nba.values)

numpy.ndarray

In [15]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [16]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
nba.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [19]:
nba.shape

(458, 9)

In [22]:
nba['Sport'] = 'BasketBall'

In [23]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,BasketBall
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,BasketBall
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,BasketBall
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,BasketBall
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,BasketBall
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,BasketBall
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,BasketBall
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,BasketBall
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,BasketBall
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BasketBall

In [24]:
nba.Salary

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
453    2433333.0
454     900000.0
455    2900000.0
456     947276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [26]:
def weight(w):
    if w > 200:
        return 'overweight'
    elif w >= 180 and w<=200:
        return 'normal'
    else:
        return 'Under'
nba['category'] = nba.Weight.apply(weight)

In [27]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,category
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,normal
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,overweight
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,overweight
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,normal
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,overweight
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,overweight
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Under
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,overweight
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,overweight
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Under